{% extends "groupgrader/base.html" %}

{% block title %} grader dashboard page {% endblock %} 

{% block sidebar-content %}

<button type="button" class="btn btn-border-width=0" data-bs-toggle="modal" data-bs-target="#create_course_form">
  Create course
</button>
<button type="button" class="btn btn-border-width=0" data-bs-toggle="modal" data-bs-target="#enroll_course_form">
  Enroll in course
</button>
<hr>

<!-- Modal -->
<div class="modal fade" id="create_course_form" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Create a new course</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form class="row g-3" id="id_create_course_form">
          <div class="col-md-6">
            <label for="id_input_course_name" class="form-label">Course Name</label>
            <input type="text" class="form-control" id="id_input_course_name">
          </div>
          <div class="col-md-6">
            <label for="id_input_course_num" class="form-label">Course Number</label>
            <input type="number" class="form-control" id="id_input_course_num">
          </div>
          <div class="col-12">
            <label for="id_input_course_bio" class="form-label">Course Introduction</label>
            <input type="text" class="form-control" id="id_input_course_bio" placeholder="Please provide a brief bio of your course">
          </div>
          <h6 class="font-weight-light lead">
            Course Number must be unique and non-empty. 
          <h6>
          <div class="col-md-6">
            <label for="id_input_course_color" class="form-label">Pick Your Course Color</label>
            <input type="color" class="form-control form-control-color" id="id_input_course_color" value="#5394c0" title="Choose your course color">
          </div>
          <div class="col-12">
            <button type="submit" class="btn btn-info"  onclick="createCourse()" data-bs-dismiss="modal">Create</button>
            {% csrf_token %}
          </div>
        </form>
      </div>

    </div>
  </div>
</div>

<div class="modal fade" id="enroll_course_form" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Enroll in a course</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form class="row g-3" id="id_enroll_course_form">
          <div class="col-md-6">
            <label for="id_input_course_num_enroll" class="form-label">Course No.#</label>
            <input type="number" class="form-control" id="id_input_course_num_enroll">
          </div>
          <div class="col-12">
            <button type="submit" class="btn btn-info" onclick="enrollCourseGrader()" data-bs-dismiss="modal">Enroll</button>
            {% csrf_token %}
          </div>
        </form>
      </div>

    </div>
  </div>
</div>

<hr>
<p1 class="lead mt-1">
    Welcome to GroupGrader! 
</p>
<p1 class="lead mt-1">
    Click on one of your courses to the right, or on the Account menu below.
</p>




{% endblock %}

{% block content %}

<h3 style="margin-top:5vh; margin-left:1vw"> My courses </h3>
<hr>
<div class="container-fluid mt-3">
    <div class="row" id="id_course_list">
        
    </div>
</div>

<script>
  var courseURL = "{% url 'grader-course' 0 %}"
  const createCourseURL = "{% url 'create-course' %}"
  window.onload = getGraderCourseList();

  window.setInterval(getGraderCourseList, 5000);
</script>

{% endblock %}